<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- <typeHandlers>
      <typeHandler handler="org.apache.ibatis.type.InstantTypeHandler" />
      <typeHandler handler="org.apache.ibatis.type.LocalDateTimeTypeHandler" />
      <typeHandler handler="org.apache.ibatis.type.LocalDateTypeHandler" />
      <typeHandler handler="org.apache.ibatis.type.LocalTimeTypeHandler" />
      <typeHandler handler="org.apache.ibatis.type.OffsetDateTimeTypeHandler" />
      <typeHandler handler="org.apache.ibatis.type.OffsetTimeTypeHandler" />
      <typeHandler handler="org.apache.ibatis.type.ZonedDateTimeTypeHandler" />
      <typeHandler handler="org.apache.ibatis.type.YearTypeHandler" />
      <typeHandler handler="org.apache.ibatis.type.MonthTypeHandler" />
	</typeHandlers> -->
	<settings>
	  <!-- 使用驼峰命名法转换字段。 -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	<!-- <mappers>
        <mapper resource="cs/com/system/dao/MyusersDAO.xml"/>
    </mappers> -->
	<plugins>
		<!-- com.github.pagehelper为PageHelper类所在包名 -->
		<plugin interceptor="com.github.pagehelper.PageInterceptor">
			<!-- 使用下面的方式配置参数，后面会有所有的参数介绍 -->
		</plugin>
	</plugins>
</configuration>

